#user-container  {
    max-width: 100%;
    margin: 1vh 2vw 2vh 2vw;
    text-align: center;
}

#user-about {
    max-width: 90%;
}

#hacker-links a {
    text-decoration: none;
    color: red;
}

#hacker-links a:first-child {
    margin-left: 0px;
}
