@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
  	#data-container {
  		display: flex;
  		justify-content: center;
  	}

  	#tabs-container {
  		width: 50vw;
  	}

  	#hacker-list {
  		width: 80vw;
  		max-width: 80%;
  	}

  	#comments-container {
  		min-width: 92%;
  	}

    #user-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
  	#hacker-list {
  		width: 60vw;
  		max-width: 75%;
  	}
}

@media screen
	and (min-device-width: 240px)
	and (max-device-width: 568px) {
		#tabs-container {
			justify-content: center;
		}
	}


#tabs-layout-container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

#tabs-container {
	width: 100%;
	min-height: 10vh;
	max-height: 15vh;
	background: #555;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#tabs-container svg {
	margin-left: 1em;
}

#tabs-container a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1em;
}

#tabs-container a:active,
#tabs-container a:visited,
#tabs-container a:hover {
	text-decoration: none;
}

.tab {
	color: #F5F5F5;
}

.active {
	color: red;
}
